ion-header {
  background: #547731;
  color: #d1dec0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  h1 {
    margin: 1.8rem 0 1rem 0;
    font-size: 2.7rem;
    letter-spacing: 1.3px;
  }
}
