<ion-header [translucent]="false" class="ion-no-border">
  <h1>Head Overflow</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <app-heading>Splitters</app-heading>
  <div class="textarea-wrapper">
    <ion-textarea
      autoGrow="true"
      rows="1"
      placeholder="Write it out of your head."
      #input
    >
    </ion-textarea>
    <div class="button-wrapper">
      <button
        add-button
        [disabled]="input.value === ''"
        (click)="addSplitter(input.value); input.value = ''"
      >
        ADD
      </button>
    </div>
  </div>
  <ion-list *ngFor="let splitter of splitters.slice().reverse()">
    <app-separator appearance="lines"></app-separator>
    <p class="splitter">{{ splitter }}</p>
  </ion-list>
</ion-content>
